* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Raleway, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.container > h1 {
    margin-top: 30px;
}

.btn_container {
    margin: 0 30px;
    display: flex;
    gap: 20px;
}

header{
    margin: 30px 30px;
}

.noGroupsMsg {
    margin-top: 10px;
}

.create_btn {
    text-align: center;
    width: 130px;
    margin-top: 10px;
    font-size: 14px;
    padding: 13px 20px;
    align-self: center;
    background-color: #49beaa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.create_btn:hover {
    text-decoration: none;
    color: white;
    background-color: #3BA593;
}

.logout_btn {
    text-align: center;
    width: 130px;
    margin-top: 10px;
    font-size: 14px;
    padding: 13px 20px;
    align-self: center;
    align-items: center;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    color: white;
}

.logout_btn:hover {
    text-decoration: none;
    color: white;
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: white;
}

td > a {
    color: #007bff;
}
