* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Raleway, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.container{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.container > h1 {
    margin-top: 30px;
}

.btn_container {
    margin: 0 30px;
    display: flex;
    gap: 20px;
}

header{
    margin: 30px 30px;
}

.noGroupsMsg {
    margin-top: 10px;
}

.create_btn {
    text-align: center;
    width: 130px;
    margin-top: 10px;
    font-size: 14px;
    padding: 13px 20px;
    align-self: center;
    background-color: #49beaa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.create_btn:hover {
    text-decoration: none;
    color: white;
    background-color: #3BA593;
}

.logout_btn {
    text-align: center;
    width: 130px;
    margin-top: 10px;
    font-size: 14px;
    padding: 13px 20px;
    align-self: center;
    align-items: center;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    color: white;
}

.logout_btn:hover {
    text-decoration: none;
    color: white;
    background-color: #0056b3;
}


.crea-container {
    display: flex;
    width: 100%;
}

button[type="submit"] {
    margin-top: 10px;
    font-size: 15px;
    padding: 13px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

input[type="number"],
input[type="text"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #d5dbe1;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.close-icon{
    display: flex;
    width: 100%;
}

.modal-container{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.anag_close, .detail_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.anag_close:hover,
.anag_close:focus,
.detail_close:hover,
.detail_close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

td > a {
    color: #007bff;
}


.form_container {
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trash-bin {
    margin-top: 20px;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
}

.trash-bin .fa-trash {
    font-size: 48px;
    color: #ccc;
}

.draggable {
    cursor: move;
}
