<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Styling/Home.css">
</head>
<body>

<header>
    <h1>Anagrafica</h1>
</header>


<div class="container">

    <h1>Utenti registrati</h1>

    <form action="goToAnag" method="post">
        <table class="table table-bordered ">
            <thead>
            <tr>
                <th th:text="${anagTableTitle}"></th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="user : ${users}">
                <td>
                    <input class="form-check-input" type="checkbox" name="selectedUsers"
                           th:value="${user.username}" th:id="'flexCheckDefault' + ${user.username}"
                           th:checked="${selectedUsers != null and #lists.contains(selectedUsers, user.username)}">
                    <label class="form-check-label" th:for="'flexCheckDefault' + ${user.username}"
                           th:text="${user.name} + ' ' + ${user.surname}"></label>
                </td>
            </tr>
            </tbody>

            <p th:text="${errorMessage}"></p>
        </table>
        <button type="submit" class="btn btn-primary">Invita</button>
    </form>

    <p th:text="${selectedCount}"></p>

</div>

</body>
</html>