<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Anagrafica</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="Styling/Register.css" th:href="@{/Styling/Register.css}" />
  <link rel="stylesheet" type="text/css" href="Styling/General.css">
</head>
<body>
<div class="container">
  <h1>Crea gruppo</h1>
  <form action="createGroup" method="post">
    <div class="form-group">
      <label for="title">Titolo</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="durata_att">Durata Attivita' in giorni</label>
      <input type="number" id="durata_att" name="durata_att" required>
    </div>
    <div class="form-group">
      <label for="min_part">Minimo invitati</label>
      <input type="number" id="min_part" name="min_part" required>
    </div>
    <div class="form-group">
      <label for="max_part">Massimo invitati</label>
      <input type="number" id="max_part" name="max_part" required>
    </div>

    <p th:text="${errorMessage}" id="errorMessage" style="color: red;"></p>
    <button type="submit">Crea gruppo</button>
  </form>
</div>
</body>
</html>
