<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>Progetto_TIW_2024_RIA</display-name>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/dbtest</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>password</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <filter>
        <filter-name>Checker</filter-name>
        <filter-class>it.polimi.tiw.filter.Checker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Checker</filter-name>
        <url-pattern>/goToHome</url-pattern>
        <url-pattern>/GetGroupDetails</url-pattern>
        <url-pattern>/GetGroupsCreated</url-pattern>
        <url-pattern>/GetGroupsInvited</url-pattern>
        <url-pattern>/GetUsersAnag</url-pattern>
        <url-pattern>/createGroup</url-pattern>
        <url-pattern>/goToAnag</url-pattern>
        <url-pattern>/</url-pattern>
        <url-pattern>/home.html</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

</web-app>